app-data-fetching-enabled = true
orderbook-url = "http://orderbook"
tx-gas-limit = "45000000"

[[solver]]
name = "baseline"  # Arbitrary name given to this solver, must be unique
endpoint = "http://baseline"
absolute-slippage = "40000000000000000"  # Denominated in wei, optional
relative-slippage = "0.1"  # Percentage in the [0, 1] range
account = "{{BASELINE_PRIVATE_KEY}}"  # Loaded from local env during config generation

[[solver]]
name = "pysolver"  # Arbitrary name given to this solver, must be unique
endpoint = "http://pysolver"
absolute-slippage = "40000000000000000"  # Denominated in wei, optional
relative-slippage = "0.1"  # Percentage in the [0, 1] range
account = "{{SOLVER_PRIVATE_KEY}}"  # Loaded from local env during config generation

[submission]
gas-price-cap = "1000000000000"

[[submission.mempool]]
url = "http://chain:8545"

[liquidity]
base-tokens = [
  "0x0d500B1d8E8eF31E21C99d1Db9A6444d3ADf1270",  # WPOL (wrapped MATIC)
  "0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174",  # USDC.e on Polygon
  "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359",  # USDC on Polygon
  "0x7ceB23fD6bC0adD59E62ac25578270cFf1b9f619",  # WETH on Polygon
  "0x1BFD67037B42Cf73acF2047067bd4F2C47D9BfD6",  # WBTC on Polygon
]

# QuickSwap on Polygon (Uniswap V2 fork)
[[liquidity.uniswap-v2]]
router = "0xa5E0829CaCEd8fFDD4De3c43696c57F7D7A678ff"
pool-code = "0x96e8ac4277198ff8b6f785478aa9a39f403cb768dd02cbee326c3e7da348845f"
missing-pool-cache-time = "10m"

# SushiSwap on Polygon
[[liquidity.uniswap-v2]]
router = "0x1b02dA8Cb0d097eB8D57A175b88c7D8b47997506"
pool-code = "0xe18a34eb0e04b04f7a0ac29a6e80748dca96319b42c54d679cb821dca90c6303"
missing-pool-cache-time = "10m"
